$font-family:   "Roboto";
$font-size:     14px;

$theme-pink: #EC79A4;
$theme-pink-opacite: rgba(236, 121, 164, .7);
$theme-orange: #FF9C65;
$theme-orange-opacite: rgba(255, 156, 101, .7);
$theme-blue: #89B9C7;

/* Mixins */
@mixin parallax-shadow() {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: white;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

/* Links in nav bar */
body > nav > div > ul > li > a {
  color: $theme-blue;
  font-size: 150%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {width:100%;height:100%;margin:0;padding:0;}

body {
    font-family: $font-family;
    font-size: $font-size;
}

footer {
    background-color: $theme-pink !important;
}

i.profile {
  color: $theme-blue;
}

/* Nav bar link text on desktop */
body > nav > div > ul.right.hide-on-med-and-down > li > a {
    font-size: 120%;
}

p {
  line-height: 2rem;
}

span.title{
    font-weight: 500;
}

.button-collapse {
  color: #26a69a;
}

h4.card-title {
  font-size: 250% !important;
  font-weight: 400 !important;
}

.circle {
    background-color: white !important;
    font-size: 250% !important;
    border-radius: 0% !important;
}

.collection {
  border: 0px;
}

/* Collection for mentors section */
#mentors-container-wrapper > div > div.row > div > div > div.card-reveal > ul {
  text-align: left;
}

.iowa-girls-code-camp-section {
    display: none; /* for fadein animation */
    position: relative;
    top: 50%;
    transform: translateY(-50%);

      @media screen and (max-width: 399px){ 
      -webkit-transform: translateY(25%);
    } 
   
}

.faq-icon {
  font-size: 200%;
}

.navbar-fixed {
    top: 100%;
}

.navbar-stuck-to-top {
    position: fixed !important;
    top: 0 !important;
    z-index: 500;
}

.nav-wrapper {
    width: 90%;
}

.parallax-container, #iowa-girls-code-camp-image {
  min-height: 450px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

.parallax-container {
    display: inline-flex;
    display: -webkit-inline-flex;
}

.row {
  text-align: center;
}

.section-heading{
    margin-top: 2%;
    margin-bottom: 5%;
    color: white;
    margin-top: 0px;

    h1 {
        margin-top: 0px;
    }
}

.section {
    padding-top: 5%;
    padding-bottom: 5%;
}

.timer {
  font-weight: 600;
}

#about-text, a.secondary-content, #faq-text {
    color: $theme-blue !important;
}

#faq-text {
  text-align: center;
}

#about-section-heading {
  margin-bottom: 0;
}

#map-container-wrapper, #schedule-container-wrapper, #faq-container-wrapper, #sponsors-container-wrapper, #mentors-container-wrapper {
    display: -webkit-box !important;
}

#faq-container-wrapper {
    background-color: white;
}

#map-container-wrapper {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ec79a4+75,ec79a4+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(236,121,164,1) 75%, rgba(236,121,164,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(236,121,164,1) 75%,rgba(236,121,164,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(236,121,164,1) 75%,rgba(236,121,164,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ec79a4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#schedule-container-wrapper{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ff9c65+75,ff9c65+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,156,101,1) 75%, rgba(255,156,101,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,156,101,1) 75%,rgba(255,156,101,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,156,101,1) 75%,rgba(255,156,101,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff9c65',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#schedule-container-wrapper > div > ul > li {
  opacity: 0;
}

#sponsors-container-wrapper, #mentors-container-wrapper {
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,89b9c7+75,89b9c7+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(137,185,199,1) 75%, rgba(137,185,199,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(137,185,199,1) 75%,rgba(137,185,199,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(137,185,199,1) 75%,rgba(137,185,199,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#89b9c7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#code-camp-description {
    font-weight: 300;
}

#code-camp-description-1, #code-camp-description-2 {
    opacity: 0;
}

#icon-block-1, #icon-block-2 {
    display: none !important;
}

#code-camp-description-2 {
  margin-top: 3%;
}

#code-camp-goal-parallax-text {
  -webkit-text-shadow: 3px 3px 3px black;
  -moz-text-shadow: 3px 3px 3px black;
  text-shadow: 3px 3px 3px black;
  color: white !important;
  margin-bottom: 0;
  margin-top: 15%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

#down-arrow {
  display: block;
  position: absolute;
  color: white!important;
  margin-left: 48%;
  font-size: 400%;
  bottom: 10%;  
}

#gradient-section {
  height : 100vh;
  background-size: 200% 100% !important;
  animation: move 3s ease infinite;
  transform: translate3d(0, 0, 0);
  background: linear-gradient(45deg, $theme-pink-opacite 10%, $theme-orange-opacite 90%);
}

#iowa-girls-code-camp-image {
  height : 100vh;

  @media screen and (min-width: 641px) {
    background: url(../iowagirlscodecampbackground.jpeg);
  }
  @media screen and (max-width: 640px) and (min-width: 400px){
    background: url(../iowagirlscodecampbackground-med.jpeg);
  }
  @media screen and (max-width: 399px){
    background: url(../iowagirlscodecampbackground-small.jpeg);
    height: 100%;
  }

  background-repeat: no-repeat;
  background-size: cover !important;
  opacity: 1;
}

#iowa-girls-code-camp {
  -webkit-text-shadow: 2px 2px 2px gray;
  -moz-text-shadow: 2px 2px 2px gray;
  text-shadow: 2px 2px 2px gray;
  color: white !important;
  margin-bottom: 0;
  font-size: 600%; /* TODO remove after inclusion of logo */
}

#map-column {
    padding: 0 0 0 0;
}

#map-row {
    margin-bottom: 0px;
}

#register-button, #questions-button {
    background-color: $theme-blue !important;
} 

.parallax-shadow-wrapper {
    @include parallax-shadow();
    min-height: 450px;
    text-align: center;
}

i {
    color : $theme-blue !important;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


/* Media Queries */

/* Medium and down */
@media only screen and (max-width : 992px) {
    #register-button {
      margin-left: 10%;
    }
}

/* small only */
@media only screen and (max-width: 600px) {
    #map {
        height: 300px;
    }
    #logo-container, body > nav > div > a.button-collapse > i{
        font-size: 150%;
    }

    .parallax-container {
    height: 200px;
    }

    .section {
      padding-bottom: 10%;
    }

    #register-button {
      margin-left: 0;
      margin-top: 5%;
    }

    #down-arrow {
      display: none;
    }
}

/* medium and up */
@media only screen and (min-width: 601px) {
      #map {
        height: 500px;
    }

    .register-button-mobile {
      display: none;
    }
}

@media only screen and (max-width : 600px) {

}

/* Animations */
@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 500px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}